.center-container {
    align-items: center;
}

h1 {
    text-align: center;
}

h1.align-left {
    text-align: left;
}

p.align-center {
    text-align: center;
    font-size: 18px;
}

p.align-right {
    text-align: right;
    font-size: 18px;
}

